#bod {
  background-image: url(gambar1/bg/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#hero {
  max-width: 800px;
  max-height: 400px;
}
#contHero {
  box-shadow: 5px 10px #888888;
}
